DATABASE_URL=sqlite:///./llm.db
authjwt_secret_key=dkvjcxijthShfnxhfutndjR8e
authjwt_algorithm=HS256
access_token_expire_minutes=30
refresh_token_expire_days=7
DEBUG=False
OPENROUTER_API_KEY=api_key